
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Raleway', sans-serif;
        scroll-behavior: smooth;
    }

  
    .great-vibes-regular {
        font-family: "Great Vibes", cursive;
        font-weight: 400;
        font-style: normal;
      }

      .moving-text {
        position: relative;
        animation: moveText 15s infinite; /* Adjust timing as needed */
      }

      @keyframes moveText {
        from {
          left: 0;
        }
        to {
          left: calc(100% - 100px); /* Adjust the 100px to the width of your text element */
        }
      }
      
}